page-search {
	ion-content{
		background:#f6f6f6 !important;
	}
	ion-searchbar{
		border: 1px solid rgba(0,0,0,0.2) !important;
    	background: #fff !important;
	}
	.message{
		margin-top:2rem;
	}
}
