<ion-card class="featured_course_block" [navPush]="coursePage" [navParams]="course">
	<div class="featured_course_image">    
	    <lazy-img [inputSrc]="course.featured_image"></lazy-img>
	</div>
	<ion-card-content class="align-left">
	    <ion-card-title>
	        {{course.name}}
	    </ion-card-title>
	    <star-rating *ngIf="popular" [rating]=course.average_rating></star-rating>
	    <div class="course_price" *ngIf="course.price_html && !config.isString(course.price_html) && course.price_html.length >1">{{config.get_translation('pricing_options')}}</div>
	    <div class="course_price" *ngIf="course.price_html && !config.isString(course.price_html) && course.price_html.length == 1" [innerHtml]="course.price_html[0].html"></div>
        <div class="course_price" *ngIf="course.price_html && config.isString(course.price_html)" [innerHtml]=course.price_html></div>
	</ion-card-content>
</ion-card>
<div class="wishlist {{active}}" (click)="addToWishlist()"></div>
